@media screen and (max-width: 645px) 
{
    nav {
      width: 120%;
      background-color:#111;
      position: 10px;
      z-index: 3;

    }
    .logo {
      padding: 1vh 5vw;
      color:aliceblue;
    }
   
    .hamburger {     
      display: block;
      position: absolute;
      cursor: pointer;
      right: -57px;
      top: 3%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
      color:aliceblue;
      
    }
  
    .hamburger div{
      background: white;
    }
    .nav-links {
      position: fixed;
      background:#111;    
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      clip-path: circle(50px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 1;
    }
    .nav-links.open {
      clip-path: circle(1000px at 72% -10%);
      pointer-events: all;
    }
    .open {
      overflow: hidden;
    }
    .nav-links li a {
      color:aliceblue;
    }
    .nav-links li {
      opacity: 0;
      margin: 2rem;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
      transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
      transition: all 0.5s ease 0.9s;
      
    }
    .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1s;
      
    }
    li.fade {
      opacity: 1;
    }

  /*Animating Hamburger Icon on Click*/
  .toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle #line2 {
    transition: all 0.7s ease;
    width: 0;
  }
  .toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /**********************************/
  /*Seccion del cuerpo-juego*/
  /* .sectionContador{
      width:60%;
  } */
  .contador{
      left: 10px;
  }
  .sectionResultado
  {
    left: 0px;
    font-size: 2rem;
    margin-left: 20px;
  }

  .division{
    width:120%;
  }



.copiado iframe{
  margin-top: 15px
}
footer{
  width:120%;
}

}